/*label.checkbox {font: 14px Arial, Tahoma, Verdana, sans-serif!important;}

#ys_filter_bitronic .txt:hover, #ys_filter_bitronic textarea:hover, #ys_filter_bitronic .txt:focus, #ys_filter_bitronic textarea:focus  { box-shadow: inset 0 2px 2px #dfdfdf !important;}

#ys_filter_bitronic .ui-widget-content{border: none !important;}
*/

div.asd_share div a img{
/*display: none !important;*/
padding: 3px 3px;
border: none;
}