.aprof-time2buy {
	width:100% !important;
	position:relative !important;
	padding:0 10px 10px !important;
	margin:0 auto !important;
}
.aprof-time2buy-carousel {
	width:100% !important;
	overflow:hidden !important;
	position:relative !important;
}
.aprof-time2buy-carousel ul {
	list-style:none!important;
	padding:0!important;
	margin:0!important;
	width:100% !important;
	position:relative !important;
}
.aprof-time2buy-carousel ul  li {
	float:left !important;
	width:235px !important;
	padding:15px 5px 0 !important; /*padding:15px 21px 0 !important;*/
	list-style:none!important;
	text-indent:0!important;
	margin:0!important;
}
.aprof-time2buy-carousel ul  li:before {
	content:""!important;
}
.aprof-time2buy-name {
	text-align:center !important;
	margin-bottom: 10px !important;
	min-height:40px !important;
	font:bold 18px/20px Calibri !important;
}
.aprof-time2buy-image {
	margin: 0 !important;
	text-align:center !important;
}

.aprof-time2buy-image a {
border: medium none !important;
}

.aprof-time2buy-timer {
	overflow:hidden !important;
	width:195px !important;
	margin:0 auto !important;
}
.aprof-time2buy-time {
	width:141px !important;
	height:63px !important;
	border:1px solid #c8c4b9 !important;
	background:#f5f5f5 !important;
	float:left !important;
	text-align:center !important;
	font: 12px Calibri !important;
	color:#525248 !important;
	padding-top:3px !important;
	margin-right:5px !important;
}
.aprof-time2buy-cnt {
	overflow:hidden !important;
	width:110px !important;
	margin:0 auto !important;
}
.aprof-time2buy-cnt div {
	float:left !important;
	width:27px !important;
	font: bold 23px/28px Cambria Math !important;
	color:#3f3f35 !important;
}
.aprof-time2buy-cnt div small {
	display:block !important;
	font: 12px Calibri !important;
	color:#525248 !important;
}
.aprof-time2buy-cnt .slash{
	width:13px !important;
}
.aprof-time2buy-quant {
	border:1px solid #c8c4b9 !important;
	background:#f5f5f5 !important;
	width:44px !important;
	height:63px !important;
	float:left !important;
	font: 12px Calibri !important;
	text-align:center !important;
	padding-top:3px !important;
}
.aprof-time2buy-quant div {
	font: bold 23px/28px Cambria Math !important;
}
.aprof-time2buy-quant small {
	font:12px Calibri !important;
}
.aprof-time2buy-sale {
	width:195px !important;
	overflow:hidden !important;
	margin:8px auto 0 !important;
}
.aprof-time2buy-sale-label {
	float:left !important;
	font:13px Calibri !important;
}
.aprof-time2buy-sale-scale {
	border:1px solid #c8c4b9 !important;
	border-radius:3px !important;
	-moz-border-radius:3px !important;
	-o-border-radius:3px !important;
	-webkit-border-radius:3px !important;
	font:15px Calibri !important;
	color:#525248 !important;
	text-align:center !important;
	position:relative !important;
	float:right !important;
	width:102px !important;
	height:15px !important;
}
.aprof-time2buy-sale-scale div {
	background:#cec4bd !important;
	position:absolute !important;
	left:0 !important;
	top:0 !important;
	height:15px !important;
	z-index:1 !important;
}
.aprof-time2buy-sale-scale span {
	position:relative !important;
	z-index:2 !important;
}
.aprof-time2buy-price {
	width:195px !important;
	margin:13px auto 0 !important;
}



.aprof-time2buy-price-label {
	float:left !important;
	width:80px !important;
	text-align:right !important;
	white-space: nowrap !important;
}
.aprof-time2buy-price-num {
	margin-left:80px !important;
	text-align:right !important;
}


.aprof-time2buy-newprice {
	color:#3f3f35 !important;
	font:13px/17px Calibri !important;


}
.aprof-time2buy-newprice  .aprof-time2buy-price-num {
	font:bold 22px/12px Calibri !important;
}
.aprof-time2buy-newprice  .aprof-time2buy-price-num span {
	font-weight:normal !important;
}



.aprof-time2buy-oldprice {
	color:#ada79d !important;
	font:13px/17px Calibri !important;
margin-bottom: 7px !important;

}
.aprof-time2buy-oldprice .aprof-time2buy-price-num {
	font:bold 22px/12px Calibri !important;
	text-decoration:line-through !important;
}
.aprof-time2buy-oldprice .aprof-time2buy-price-num span {
	font-weight:normal !important;
}



.aprof-time2buy-save {
	color:#dc6e03 !important;
	font:14px/28px Calibri !important;
}
.aprof-time2buy-save {
	width:179px !important;
	height:28px !important;
	border:1px solid #c8c4b9 !important;
	border-radius:5px !important;
	-moz-border-radius:5px !important;
	-o-border-radius:5px !important;
	-webkit-border-radius:5px !important;
	background:#f5f5f5 !important;
	margin:8px auto 0 !important;
	padding:0 7px !important;
}
.aprof-time2buy-save-label {
	float:left !important;
	/*width:85px;*/
}
.aprof-time2buy-save-val {
	float:right !important;
	font:bold 18px/28px Calibri !important;
}
.aprof-time2buy-save-val span {
	font-weight:normal !important;
}
.aprof-time2buy-add2cart {
	width:179px !important;
	height:28px !important;
	margin: 10px auto 0 !important;
	padding-top: 13px !important;
	display:block !important;
	font-size: 20px !important;
}