ul.map-level-0 a {
	font-weight: bold;
}

ul.map-level-1 a, ul.map-level-2 a, ul.map-level-3 a {
	font-weight: normal;
}

.map-columns td {
	vertical-align: top;
}

/*SITEMAP
-------------------------*/
.sitemap {
    margin-bottom: 0px !important;
}

.sitemap li {
    list-style: none;
    background-position: 5px center;
    padding-left: 25px;
    margin: 0 0 12px 7px;
}

.sitemap li.folder {
    background-position: 0 3px;
    margin: 0 0 12px;
}

.sitemap li.expanded {
    background-position: 0 3px;
}

.sitemap li a {
    font-size: 14px;
}


.sitemap li.expanded li a:hover {
    text-decoration: none;
}

.sitemap li ul {
    margin: 12px 0 0 0px;
    padding: 0;
	cursor: default !important;
}

.sitemap li.expanded a {
    text-decoration: none;
    color: #000;
    border: none;
}

#sitemap-panel
{
padding-left: 40px;
margin-bottom: 30px;
}
#sitemap-panel a
{
margin-right: 15px;
}