#ys_filter_bitronic select.toggle-list, #ys_filter_bitronic .selectBox {
    background: url("img/sb_select_ice.png") no-repeat scroll left top transparent !important;
}

#ys_filter_bitronic .button, #ys_filter_bitronic .button1, #ys_filter_bitronic .button2, #ys_filter_bitronic .button3,  #ys_filter_bitronic .button4, #ys_filter_bitronic .button5, #ys_filter_bitronic .button7, #ys_filter_bitronic .button8, #ys_filter_bitronic .button9, #ys_filter_bitronic .button13, #ys_filter_bitronic .button14 {
    background-color: #35AB01;
    background-image: -moz-linear-gradient(center top , #7CE331, #35AB01);
    border: 1px solid #35AB01;
    /*box-shadow: 0 1px 0 0 #D6F757 inset, 0 2px 0 0 #E5E5E5;*/
    color: #FFFFFF !important;
    text-shadow: 0 -1px 0 #15A700;
	border-radius: 3px 3px 3px 3px !important;
    font-size: 14px !important;
    text-align: center !important;
    text-decoration: none !important;	
}




#ys_filter_bitronic .selector, #ys_filter_bitronic .checker, #ys_filter_bitronic  .button, #ys_filter_bitronic .radio, #ys_filter_bitronic .uploader {
    display: inline-block !important;
    vertical-align: middle !important;
}


.ui-slider-handle {
    background: url("img/bul.png") no-repeat scroll 0 0 transparent !important;
}

#ys_filter_bitronic h3 a:hover {
    color: #319fe4 !important;
    border-color: #b5def8 !important;
}

#ys_filter_bitronic div.checker {
	height:15px;
	width:15px;
	padding:0;
	cursor:pointer;
}


#ys_filter_bitronic div.checker span {
   /*  background: url("img/ch_bg_ice.png") no-repeat scroll left top transparent; */
   background: url(img/green_checkbox.png)  0px 0px  no-repeat !important;
}

#ys_filter_bitronic div.checker span {
    cursor: pointer;
    height: 15px;
    width: 15px;
}

#ys_filter_bitronic div.checker span {
    display: inline-block;
    text-align: center;
}

#ys_filter_bitronic div.focus span,
#ys_filter_bitronic div.checker:hover span,
#ys_filter_bitronic div.checker.active span,
#ys_filter_bitronic div.hover span,
#ys_filter_bitronic div.checker.focus span,
#ys_filter_bitronic div.checker:hover span {
	background-position: 0px -18px !important;
	cursor:pointer;
}

#ys_filter_bitronic div.checker span.checked,
#ys_filter_bitronic div.checker span.checked:hover,
#ys_filter_bitronic div.focus span.checked,
#ys_filter_bitronic div:hover span.checked,
#ys_filter_bitronic div.hover span.checked {
	 background-position: 0px -35px !important;
}


#ys_filter_bitronic.txt, #ys_filter_bitronic textarea {
    border: 1px solid #000000;
}

#ys_filter_bitronic .txt, #ys_filter_bitronic textarea {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 2px #D0D0D0 inset;
    padding: 6px 10px;
}

#ys_filter_bitronic .txt, #ys_filter_bitronic textarea {
    border: 1px solid #c0c0c0 !important;
}

#ys_filter_bitronic .txt:hover, #ys_filter_bitronic textarea:hover {
    border-color: #939393 !important;
}


#ys_filter_bitronic .txt:focus, #ys_filter_bitronic textarea:focus { border-color: #35ab01; }
#ys_filter_bitronic  .selectBox-label:hover{color: #35ab01;}


.limit {
    background: url("img/shkala.png") no-repeat scroll center top transparent !important;
    margin: 20px 0 10px;
    padding: 0;
    width: 180px;
	height: 5px !important;
}

/* --------- */

#ys_filter_bitronic .button:hover, #ys_filter_bitronic .button1:hover, #ys_filter_bitronic .button2:hover, #ys_filter_bitronic .button3:hover, #ys_filter_bitronic .button4:hover, #ys_filter_bitronic .button5:hover, #ys_filter_bitronic .button7:hover, #ys_filter_bitronic .button8:hover, #ys_filter_bitronic .button9:hover, #ys_filter_bitronic .button13:hover,  #ys_filter_bitronic .button14:hover { background: #5ac81a; box-shadow: 0 1px 0 0 #99ef2c inset, 0 2px 0 0 #e5e5e5; }
#ys_filter_bitronic .button:active, #ys_filter_bitronic .button1:active, #ys_filter_bitronic .button2:active, #ys_filter_bitronic .button3:active, #ys_filter_bitronic .button4:active, #ys_filter_bitronic .button5:active, #ys_filter_bitronic .button7:active, #ys_filter_bitronic .button8:active, #ys_filter_bitronic .button9:active, #ys_filter_bitronic .button13:active, #ys_filter_bitronic .button14:active { 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #118400), color-stop(100%, #7ce331));
	background-image: -webkit-linear-gradient(top, #118400, #7ce331);
	background-image: -moz-linear-gradient(top, #118400, #7ce331);
	background-image: -ms-linear-gradient(top, #118400, #7ce331);
	background-image: -o-linear-gradient(top, #118400, #7ce331);
	background-image: linear-gradient(top, #118400, #7ce331);
}

#ys_filter_bitronic .txt:hover, #ys_filter_bitronic textarea:hover, #ys_filter_bitronic .txt:focus, #ys_filter_bitronic textarea:focus  { box-shadow: inset 0 2px 2px #dfdfdf; }

#wrapper .f_loader {
    color: #35ab01;  
}


/*SLIDER*/


#ys_filter_bitronic  .ui-widget-header, .ye_filter  .ye_limit_range {
   -webkit-border-radius: 3px/2px !important;
    -moz-border-radius: 3px/2px !important;
    border-radius: 3px/2px !important;
    background-color: #259c01 !important;
    -webkit-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    -moz-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    border: solid 1px #35ab01 !important;
    background-image: -webkit-linear-gradient(bottom, #35ab01, #7fe533) !important;
    background-image: -moz-linear-gradient(bottom, #35ab01, #7fe533) !important;
    background-image: -o-linear-gradient(bottom, #35ab01, #7fe533) !important;
    background-image: -ms-linear-gradient(bottom, #35ab01, #7fe533) !important;
    background-image: linear-gradient(to top, #35ab01, #7fe533) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#35ab01', endColorstr='#7fe533');
}


#ys_filter_bitronic  .ui-widget-header:hover, .ye_filter  .ye_limit_range:hover {
    background-color: #259c01 !important;
    -webkit-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    -moz-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    border: solid 1px #41d500 !important;
    background-image: -webkit-linear-gradient(bottom, #45e000, #bdff8c) !important;
    background-image: -moz-linear-gradient(bottom, #45e000, #bdff8c) !important;
    background-image: -o-linear-gradient(bottom, #45e000, #bdff8c) !important;
     background-image: -ms-linear-gradient(bottom, #45e000, #bdff8c) !important;
    background-image: linear-gradient(to top, #45e000, #bdff8c) !important;
    cursor: pointer !important;
     filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#45e000', endColorstr='#bdff8c');
}

#ys_filter_bitronic .ui-widget-header:active, .ye_filter  .ye_limit_range:active {
    background-color: #259c01 !important;
    -webkit-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    -moz-box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    box-shadow: 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.73) !important;
    border: solid 1px #35ab01 !important;
    background-image: -webkit-linear-gradient(top, #35ab01, #7fe533) !important;
    background-image: -moz-linear-gradient(top, #35ab01, #7fe533) !important;
    background-image: -o-linear-gradient(top, #35ab01, #7fe533) !important;
    background-image: -ms-linear-gradient(top, #35ab01, #7fe533) !important;
    background-image: linear-gradient(to bottom, #35ab01, #7fe533) !important;
     filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#35ab01', endColorstr='#7fe533');
}

#ys_filter_bitronic .ui-slider-handle, #ys_filter_bitronic .ye_limit_handle {
     border-radius: 0 !important;
    background: url(img/green_bul1.png) 0 0 no-repeat !important;
}

#ys_filter_bitronic .ui-slider-handle:hover, #ys_filter_bitronic .ye_limit_handle:hover {
    background-position: 0 -15px !important;
}

#ys_filter_bitronic .ye_limit_handle:active,#ys_filter_bitronic .ui-slider-handle.ui-state-active {
    background-position: 0 -30px !important;
}


#ys_filter_bitronic .more_txt{
    color: #000;
    text-shadow: 0 1px rgba(255,255,255,.47);
}


#ys_filter_bitronic .show_filtr {
  background: url('img/green_show_filtr.png') 0 0px no-repeat;
}
#ys_filter_bitronic .show_filtr:hover {
  background-position:  0 -42px;
}

#ys_filter_bitronic a.hide_filtr {
   /*  width: 160px !important; */
    background: url('img/green_hide_filtr.png') 0 0px no-repeat;
}
#ys_filter_bitronic .hide_filtr:hover {
    background-position: 0 -39px;
}


#ys_filter_bitronic a.hide_filtr {
   /*  width: 160px !important; */
}