/*Menu icon*/
#market_menu_icon {background-image:url(icons/yenisite.market/small.gif);}
#market_page_icon {background-image:url(icons/yenisite.market/big.gif);}
/*Menu icon BX12*/
.market_menu_icon {background:url(icons/yenisite.market/medium.png) 5px 0px no-repeat !important;}//тут другая иконка совсем, так как размеры поменялись