.ye_filter .txt, .ye_filter textarea {
    border: 1px solid #c0c0c0 !important;
}

.ye_filter .txt:hover, .ye_filter textarea:hover {
    border-color: #939393 !important;
}

.ye_filter .txt:focus, .ye_filter textarea:focus {
    border-color: #000000 !important;
}

.checker span {
    background: url(img/metal_ch_bg.png) top left no-repeat !important;
}

.checker:hover span, .checker.active span, .checker.focus span, .checker:hover span {
    background: url(img/metal_ch_bg_hover.png) top left no-repeat !important;
    cursor: pointer !important;
}

.checker span.checked, .checker span.checked:hover {
    background: url(img/metal_ch_bg_active.png) top left no-repeat !important;
}

.ye_filter {
    background: #fafafa !important;
}



/***********************/
.ui-widget-header, .ye_limit_range {
    background: #383e46 !important;
}

.ui-slider-handle, .ye_limit_handle {
    background: url(img/metal_bul.png) 0 0 no-repeat !important;
}


.button, .button1, .button2, .button3, .button4, .button5, .button7, .button8, .button9, .button13, .button14 {
    background-color: #6e7278;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6a9ac), color-stop(100%, #6e7278));
    background-image: -webkit-linear-gradient(top, #a6a9ac, #6e7278);
    background-image: -moz-linear-gradient(top, #a6a9ac, #6e7278);
    background-image: -ms-linear-gradient(top, #a6a9ac, #6e7278);
    background-image: -o-linear-gradient(top, #a6a9ac, #6e7278);
    background-image: linear-gradient(top, #a6a9ac, #6e7278);
    border: 1px solid #878a8e;
    box-shadow: 0 1px 0 0 #dcddde inset;
    color: #fff !important;
    text-shadow: 0 -1px 0 #383e46;
}

.button:hover, .button1:hover, .button2:hover, .button3:hover, .button4:hover, .button5:hover, .button7:hover, .button8:hover, .button9:hover, .button13:hover, .button14:hover {
    background: #8e9195;
    box-shadow: 0 1px 0 0 #dcddde inset;
}

.button:active, .button1:active, .button2:active, .button3:active, .button4:active, .button5:active, .button7:active, .button8:active, .button9:active, .button13:active, .button14:active {
    background-color: #ffb400;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #74787d), color-stop(100%, #a6a9ac));
    background-image: -webkit-linear-gradient(top, #74787d, #a6a9ac);
    background-image: -moz-linear-gradient(top, #74787d, #a6a9ac);
    background-image: -ms-linear-gradient(top, #74787d, #a6a9ac);
    background-image: -o-linear-gradient(top, #74787d, #a6a9ac);
    background-image: linear-gradient(top, #74787d, #a6a9ac);
    box-shadow: inset 2px 2px 5px 1px #4d5259 !important;
}

/***********************/


.ya_pole .ye_q a {
    color: #57758a !important;
    border-color: #a0b1bd !important;
}

.ya_pole .ye_q a:hover {
    color: #383e46 !important;
    border-color: #8f9297 !important;
}

.radio span {
    background-image: url(img/metal_ye_radio.png) !important;
}

.ye_result {
    background: #57758a !important;
    color: #fff !important;
}



.ye_more button .sym {
    color: #57758a !important
}

.button12 {
    color: #57758a !important;
}

.button12:hover {
    color: #383e46 !important;
}

.button12:active, .button12.active {
    background: #ededed !important;
    box-shadow: 1px 2px 3px #c1c1c1 inset !important;
    border: 1px solid #d7d7d7 !important;
    color: #5a5a5a !important;
}
