.ys-user-basket .txt, textarea {
    border: 1px solid #000000 !important;
}

.ys-user-basket a, .ys-user-basket .sitemap li.expanded li a span {
color:#e00c0c; border-color: #f39e9e;
}

.ys-user-basket a:hover,.ys-user-basket .sitemap li.expanded li a:hover span { color: #ff7b11; border-color: #ffb980; }

.ys-user-basket a {
    border-bottom: 1px solid !important;
    outline: medium none !important;
    text-decoration: none !important;
	
}

.ys-user-basket .txt:focus, .ys-user-basket textarea:focus {
    border-color: #E00C0C !important;
}

.ys-user-basket .button, .ys-user-basket .button1,  .ys-user-basket .button2, .ys-user-basket .button3, .ys-user-basket .button4, .ys-user-basket .button5, .ys-user-basket .button7, .ys-user-basket .button8, .ys-user-basket .button9, .ys-user-basket .button13, .ys-user-basket .button14 {
	background-color: #cf2020;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd9742), color-stop(100%, #cf2020));
	background-image: -webkit-linear-gradient(top, #fd9742, #cf2020);
	background-image: -moz-linear-gradient(top, #fd9742, #cf2020);
	background-image: -ms-linear-gradient(top, #fd9742, #cf2020);
	background-image: -o-linear-gradient(top, #fd9742, #cf2020);
	background-image: linear-gradient(top, #fd9742, #cf2020);
	border: 1px solid #cf2020;
	-webkit-box-shadow: 0 1px 0 0 #ffcd30 inset, 0 2px 0 0 #e5e5e5;
	-moz-box-shadow: 0 1px 0 0 #ffcd30 inset, 0 2px 0 0 #e5e5e5;
	box-shadow: 0 1px 0 0 #ffcd30 inset, 0 2px 0 0 #e5e5e5;
	color: #fff !important;
	text-shadow: 0 -1px 0 #d12522;
}

.ys-user-basket .button:hover, .ys-user-basket .button1:hover, .ys-user-basket .button2:hover, .ys-user-basket .button3:hover, .ys-user-basket .button4:hover, .ys-user-basket .button5:hover, .ys-user-basket .button7:hover, .ys-user-basket .button8:hover, .ys-user-basket .button9:hover, .ys-user-basket .button13:hover, .ys-user-basket .button14:hover {
 background: #ea6534; box-shadow: 0 1px 0 0 #f99826 inset, 0 2px 0 0 #e5e5e5; 
}
.ys-user-basket .button:active,.ys-user-basket .button1:active,.ys-user-basket .button2:active,.ys-user-basket .button3:active,.ys-user-basket .button4:active,.ys-user-basket .button5:active,.ys-user-basket .button7:active,.ys-user-basket .button8:active,.ys-user-basket .button9:active,.ys-user-basket .button13:active,.ys-user-basket .button14:active {
 	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cf2020), color-stop(100%, #fd9742));
	background-image: -webkit-linear-gradient(top, #cf2020, #fd9742);
	background-image: -moz-linear-gradient(top, #cf2020, #fd9742);
	background-image: -ms-linear-gradient(top, #cf2020, #fd9742);
	background-image: -o-linear-gradient(top, #cf2020, #fd9742);
	background-image: linear-gradient(top, #cf2020, #fd9742);
}


.ys_tab_nav {padding-left: 0 !important;}
.ys_tab_nav li a {
    background: url("images/tv_pager_bg.png") no-repeat left center transparent !important;
    border: medium none !important;
    padding: 6px !important;
    text-decoration: none !important;
	border: none !important;
	color: #000 !important;
	
}

.ys_tab_nav li input {display: none;}

.ys_tab_nav li a.ys_active {
    background: url("images/tv_pager_active_red.png") no-repeat left center transparent !important;
}
.ys_tab_nav li a:hover {
    background: url("images/tv_pager_hover_red.png") no-repeat left center transparent !important;
	color: #000 !important;
}
.ys_tab_nav li{ list-style-type: none; border: none !important;}