div.yen-bs-node { box-shadow:#B1B3BA 0px 0px 2px 0px !important; color:black !important;}

a.yen-bs-count_link { border-left-color:#F39E9E !important;border-right-color:#F39E9E !important;border-top-color:#F39E9E !important;color:black !important; }

div.yen-bs-popup { box-shadow:0px 0px 2px #B1B3BA !important;background:white !important; color:black !important;  background-color:white !important; }

input.yen-bs-txt { box-shadow: inset 0 2px 2px #d0d0d0 !important; }

.yen-bs-txt:hover, .yen-bs-txt:focus {box-shadow: inset 0 2px 2px #dfdfdf !important;}

.yen-bs-txt:focus { border-color: #e00c0c !important;}

.yen-bs-button4,  .yen-bs-button5 , .yen-bs-button3 { 
	background-color: #0660cf !important ;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6dbffd), color-stop(100%, #0660cf)) !important ;
	background-image: -webkit-linear-gradient(top, #6dbffd, #0660cf) !important ;
	background-image: -moz-linear-gradient(top, #6dbffd, #0660cf) !important ;
	background-image: -ms-linear-gradient(top, #6dbffd, #0660cf) !important ;
	background-image: -o-linear-gradient(top, #6dbffd, #0660cf) !important ;
	background-image: linear-gradient(top, #6dbffd, #0660cf) !important ;
	border: 1px solid #0660cf !important ;
	-webkit-box-shadow: 0 1px 0 0 #bfedff inset, 0 2px 0 0 #e5e5e5 !important ;
	-moz-box-shadow: 0 1px 0 0 #bfedff inset, 0 2px 0 0 #e5e5e5 !important ;
	box-shadow: 0 1px 0 0 #bfedff inset, 0 2px 0 0 #e5e5e5 !important ;
	color: #fff  !important ;
	text-shadow: 0 -1px 0 #1069d3 !important ;
}

button.yen-bs-button3:hover, button.yen-bs-button4:hover, button.yen-bs-button5:hover {
	cursor:pointer  !important ;
	 background: #3b91e7 !important ; box-shadow: 0 1px 0 0 #64def8 inset, 0 2px 0 0 #e5e5e5 !important ;
}

button.yen-bs-button3:active, button.yen-bs-button4:active, button.yen-bs-button5:active { 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0660cf), color-stop(100%, #6dbffd)) !important ;
	background-image: -webkit-linear-gradient(top, #0660cf, #6dbffd) !important ;
	background-image: -moz-linear-gradient(top, #0660cf, #6dbffd) !important ;
	background-image: -ms-linear-gradient(top, #0660cf, #6dbffd) !important ;
	background-image: -o-linear-gradient(top, #0660cf, #6dbffd) !important ;
	background-image: linear-gradient(top, #0660cf, #6dbffd) !important ;
}
div.yen-bs-make_order { border-top: 1px solid #CCC !important; }

button.yen-ys-button6 { font-size: 11px !important ; padding: 2px 1px !important ; margin-left: 19px !important ; 
	background-color: #f55656 !important ;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd6b6b), color-stop(100%, #e93636)) !important ;
	background-image: -webkit-linear-gradient(top, #fd6b6b, #e93636) !important ;
	background-image: -moz-linear-gradient(top, #fd6b6b, #e93636) !important ;
	background-image: -ms-linear-gradient(top, #fd6b6b, #e93636) !important ;
	background-image: -o-linear-gradient(top, #fd6b6b, #e93636) !important ;
	background-image: linear-gradient(top, #fd6b6b, #e93636) !important ;
	border: 1px solid #e93636 !important ; 
	-webkit-box-shadow: 0 1px 0 0 #ffbfbf inset, 0 2px 0 0 #e5e5e5 !important ;
	-moz-box-shadow: 0 1px 0 0 #ffbfbf inset, 0 2px 0 0 #e5e5e5 !important ;
	box-shadow: 0 1px 0 0 #ffbfbf inset, 0 2px 0 0 #e5e5e5 !important ;
	color: #fff  !important ;
	text-shadow: 0 -1px 0 #e93636 !important ; 
	width: 20px !important ;
}

button.yen-ys-button6:hover { cursor:pointer !important ; background: #fa6565 !important ; box-shadow: 0 1px 0 0 #ffbfbf inset, 0 2px 0 0 #e5e5e5 !important ; }
button.yen-ys-button6:active { 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e93636), color-stop(100%, #fd6b6b)) !important ;
	background-image: -webkit-linear-gradient(top, #e93636, #fd6b6b) !important ;
	background-image: -moz-linear-gradient(top, #e93636, #fd6b6b) !important ;
	background-image: -ms-linear-gradient(top, #e93636, #fd6b6b) !important ;
	background-image: -o-linear-gradient(top, #e93636, #fd6b6b) !important ;
	background-image: linear-gradient(top, #e93636, #fd6b6b) !important ;
}

td.yen-bs-t_name h3 a { color:#3b91e7 !important; border-color: #a4ccf4 !important; }
td.yen-bs-t_name h3 a:hover { color: #0660cf !important; border-color: #6baced !important; }