#ys-bitronic-settings .ys_slider {
    height: 5px;
    padding: 0;
    width: 170px;
    background: url("img/shkala_ice.png") no-repeat scroll center top transparent !important;
}

#ys-bitronic-settings .ui-slider-handle {
    background: url("img/bul_ice.png") no-repeat scroll 0 0 transparent !important;
}

div#slider-opacity {
    width: 60px;
    float: left;
    margin: 5px;
    height: 5px;
    background: url("img/shkala_ice.png") no-repeat scroll center top transparent !important;
}