/*nav .navmenu {
    background: url(img/metal_nav_bg.png) top left repeat-x !important;
}

.nav_cor_l {
    background: url(img/metal_nav_corners.png) top left no-repeat !important;
}

.nav_cor_r {
    background: url(img/metal_nav_corners.png) -6px 0 no-repeat !important;
}

nav ul li {
    background: url(img/metal_nav_sep.png) center right no-repeat !important;
}
*/
#navigator>li a {
    color: #57758a ;
    text-shadow: 0 -1px 1px #fcfcfc !important;
}

nav li:hover a, nav li a:hover {
    color: #383e46 !important;
}

nav .subnav li a {
    color: #57758a !important;
    border-bottom-color: #abbac4 !important;
}

nav .subnav li a:hover {
    color: #383e46 !important;
    border-bottom: 1px solid #8f9297 !important;
}

nav .subnav li li a {
    color: #383e46 !important;
    border-bottom-color: #888b90 !important;
}

nav .subnav li li.hover a:hover {
    background: #eef1f3 !important;
    border: none !important;
}

nav .subnav li a:hover {
    border: none !important;
}

/*NEW ADDITIONAL MENU*/

nav ul li {
    background: none !important;
}

.nav_cor_l {
      background:none !important;
}

.nav_cor_r {
     background:none !important;
}


ul#navigator {
    margin: 0;
    padding: 0;
    display: inline-block;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e0e2e4 97%, #e3e5e7 98%, #e9ebec 99%, #f3f4f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(97%,#e0e2e4), color-stop(98%,#e3e5e7), color-stop(99%,#e9ebec), color-stop(100%,#f3f4f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e0e2e4 97%,#e3e5e7 98%,#e9ebec 99%,#f3f4f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e0e2e4 97%,#e3e5e7 98%,#e9ebec 99%,#f3f4f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e0e2e4 97%,#e3e5e7 98%,#e9ebec 99%,#f3f4f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e0e2e4 97%,#e3e5e7 98%,#e9ebec 99%,#f3f4f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f4f5',GradientType=0 ); /* IE6-9 */
    border-radius: 4px;
    border: 1px solid rgba(58,67,75,0.07);
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.4);
   /* height: 71px !important;*/
    width: 100%;
}

nav .navmenu {
    background:none !important;
    /*height: 73px !important;*/
}

#navigator .menubacklight:not(.no-subnav) a {  
  
    margin-top: -2px !important;
    padding-top: 14px !important;
    color: #383e46 ;
    background:#fff ;
    box-shadow: -4px 0px 3px -3px rgba(0, 0, 0, 0.2), 4px 0px 3px -3px rgba(0, 0, 0, 0.2) ;
    border-radius:4px 4px 0px 0px !important;
    text-shadow:none !important;
    position:relative !important;
    margin-left: -1px  !important;
    margin-right: -1px  !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    height: 100% !important;
    z-index: 89 !important;
  /* margin-bottom: 0px !important;*/

}

#navigator .menubacklight>.subnav a{
    margin-top: 0px !important;
    padding-top: 0px !important;
    color: #383e46 ;
    background:#fff ;
    box-shadow: none !important ;
    border-radius: none !important;
    text-shadow:none !important;
    position:relative !important;
    margin-left: 0  !important;
    margin-right: 0  !important;
    padding-left: 0 !important; 
    padding-right: 0 !important;
    height: auto !important;
    z-index: 1 !important;
}

#navigator .menubacklight.no-subnav a {  
    color: #383e46 ;
    background:#fff ;
    /*padding: 12px !important;
    padding-top: 15px !important;*/
    text-align: -webkit-center !important;
    margin-left: 5px  !important;
    margin-right: 5px  !important;
    padding-left: 8px !important; 
    padding-right: 8px !important;
    text-shadow:none !important;
    border-radius:4px !important;
    height: 65% !important;
    height: calc(100% - 22px) !important;
    height:  -webkit-calc(100% - 22px) !important;
    height:  -moz-calc(100% - 22px) !important;
    z-index: 1 !important;
}




ul#navigator>li:not(.no-subnav):hover>a{
    height: 100%!important;
    background:#fff !important;
    box-shadow: -4px 0px 3px -3px rgba(0, 0, 0, 0.2), 4px 0px 3px -3px rgba(0, 0, 0, 0.2);
    border-radius:4px 4px 0px 0px !important;
 
}

ul#navigator>li>a{

 /*  margin-top:-6px !important;*/
}
ul#navigator>li {


    border-left: 1px solid  #c9cbce !important;
    border-right:1px solid #fff !important;
    margin-left: -1px !important;
    margin-right: -1px !important;
    margin-bottom: 7px !important;
    margin-top: 7px !important;
}

ul#navigator>li:first-of-type {
    border-left: none !important;
}
ul#navigator>li:last-child {
    border-right: none !important;
}
ul#navigator>li.menubacklight:not(.no-subnav):first-of-type>a{
    margin-left: 2px !important;
    padding-right: 14px !important;
    padding-left: 11px !important;
}
 





nav .subnav li a {
    box-shadow: none !important;
    border-radius: 0 !important;

}


.megamenu .item a {
    box-shadow: none !important;
    border-radius:0 !important;
    box-shadow: none !important;
}
/*
nav ul li a{
    overflow: hidden !important;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis !important;
}
ul#navigator>li>a:hover{
    width: auto!important;
    overflow:visible !important;
    position: absolute !important;
}

*/
.no-subnav a:hover {
    text-shadow:none;
}

.no-subnav a{
  /*  line-height: 14px !important;
    height: 35px !important;
    padding: 12px !important;
    padding-top: 15px !important;
    text-align: -webkit-center !important;
    margin-left: -2px  !important;
    margin-right: -2px  !important;
    padding-left: 17px !important; 
    padding-right: 17px !important;
    text-shadow: 0 -1px 1px #fcfcfc;
    border-radius:4px !important;*/
}
#navigator .subnav li  a:hover {
    border: none !important;
    background: none !important;
}

#navigator  .subnav li li  a:hover  { 
    background: #eef1f3 !important;
    border: none !important; 
}



nav li a {
    color: #57758a ;
}

.megamenu .item h3 a {
    color: #383e46 !important;
    border-bottom: 1px solid #888b90 !important;
}


/*
  

@media screen and (max-width: 860px) {
    nav ul li a{
        overflow: hidden !important;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis !important;
    }
  nav ul#navigator>li:hover>a{
        width: auto!important;
        overflow:visible !important;
        position: absolute !important;
    }
     #navigator>li.menubacklight:hover>a{
        position: absolute !important;
        padding-bottom: 0 !important;
        top:7px !important;
        bottom:7px !important;
        height:auto !important;
        };
}*/


nav ul#navigator  .overflowstyle:not(.no-subnav) {
        position: absolute !important;
        word-wrap:normal;
         top:7px !important;
        bottom:7px !important;
        height:auto !important;
        width: auto !important;
}
